:root {
  --form-bg-color: white;
  --form-element-bg-color: rgb(250, 244, 179);
}

body {
  background-size: 40px 40px;
  background-image: radial-gradient(circle, #000000 1px, rgba(0, 0, 0, 0) 1px);
}

.Todo,
.List {
  padding: 10px;
}

h5 {
  color: grey;
}

.settings {
  color: blue;
  font-weight: 600;
  width: fit-content;
}

.settings:hover {
  font-weight: 600;
  cursor: pointer;
  text-decoration: underline;
}

.List {
  display: grid;
  // --columns: 3;
  // grid-template-columns: repeat(var(--columns) 1fr);
}

.listItem {
  background-color: white;
  border: solid;
  margin: 5px;
  padding: 10px;
  min-width: 300px;
  border-radius: 10px;
}

form {
  padding: 10px;
  background-color: var(--form-element-bg-color);
  border: solid;
  --columns: 1;

  display: grid;
  grid-template-columns: repeat(var(--columns) 1fr);
}

form > h2 {
  grid-column: span var(--columns);
  margin-bottom: 20px;
}

form > label {
  display: block;
  // background-color: var(--form-element-bg-color);
}

// .Todo, .List {
//   margin:0 4em;

// }

.deleteButton,
.button {
  float: right;
}

// .pagination {
//   margin:0 4em;
// }

@media (min-width: 426px) {
  form {
    --columns: 2;
  }

  form > label {
    --form-element-bg-color: rgb(228, 169, 228);
  }
}

@media (min-width: 767px) {
  form {
    --columns: 4;
  }

  form > label {
    --form-element-bg-color: turquoise;
  }
}
